{{#each flight in flights}}
  <div class="media">
    <div class="media-left">
      <div></div>
    </div>
    <div class="media-body">
      <h4>
        {{#link-to 'flight' flight.id}}
          {{flight.name}}
        {{/link-to}}
      </h4>
      {{flight.launchTime}} {{flight.launchLocation.latitude}}, {{flight.launchLocation.longitude}}
    </div>
  </div>
{{/each}}
