{{#each flight in flights}}
  <div class="media">
    <div class="media-left">
      <div></div>
    </div>
    <div class="media-body">
      <h4>{{flight.name}}</h4>
      {{flight.launchTime}} {{flight.launchLocation.latitude}}, {{flight.launchLocation.longitude}}
    </div>
  </div>
{{/each}}
