@import 'bootstrap';

div.dropdown-menu {
	padding: 1em;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.data {
	fill: none;
	stroke: #999;
	stroke-width: 2;
	shape-rendering: crispEdges;
}
