@import 'bootstrap';
@import 'weather-icons';
@weather-icons-path: '/assets/fonts';

@import 'chart-sounding';

.page-header {
	margin-top: 20px;
}

.settings-menu {
	min-width: 240px;
}

div.dropdown-menu {
	padding: 1em;
}
