.axis > .axis-label {
  text-anchor: middle;
}

.wind .direction {
  text-anchor: middle;
  font-family: 'weathericons';
  font-size: 1.5em;
}

.axis path, .axis line {
  fill: none;
  stroke: @text-color;
  shape-rendering: crispEdges;
}

path.data {
  fill: none;
  stroke: @brand-primary;
  stroke-width: 2;
}
