.axis > .axis-label {
  text-anchor: end;
}

.wind .axis-label,
.temperature .axis-label {
  text-anchor: start;
}

.wind .direction {
  text-anchor: middle;
  font-family: 'weathericons';
}

.axis path, .axis line {
  fill: none;
  stroke: @text-color;
  shape-rendering: crispEdges;
}

path.data {
  fill: none;
  stroke: @brand-primary;
  stroke-width: 2;
}
