<h2>Date and Time</h2>
<div class="row">
  <div class="col-md-4">
    <form class="form-horizontal">
      <div {{bind-attr class=":form-group timeError:has-error"}}>
        <label for="date" class="col-md-4 control-label">Launch Time</label>
        <div class="col-md-8">
          {{bs-datetimepicker date=time format="YYYY-MM-DD HH:mm" dateIcon="fa fa-calendar"}}
          <p class="help-block">Local time</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          Display sounding details here
        </div>
      </div>
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-default" type="button" {{action "back"}}>Back</button>
        <button class="btn btn-primary" type="button" {{action "run"}}>Run Prediction</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    Calendar
  </div>
</div>
