<h2>Date and Time</h2>
<div class="btn-group pull-right" role="group">
  <button class="btn btn-default" type="button" {{action "back"}}>Back</button>
  <button class="btn btn-primary" type="button" {{action "run"}}>Run Prediction</button>
</div>
