<h2>Balloon and Payload</h2>
<div class="row">
  <div class="col-md-4">
    <form>
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-default" type="button" {{action "back"}}>Back</button>
        <button class="btn btn-primary" type="button" {{action "next"}}>Next</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    Graph
  </div>
</div>
