<div class="page-header">
  <h1>About</h1>
</div>
<p class="lead">
  Athena (working title) aims to be a complete high altitude ballooning
  system, guiding the user through the entire process of launching a balloon.
</p>
<p>
  Follow development and submit feature requests and bug reports on <a href="https://github.com/AerodyneLabs/Athena">Github</a>.
</p>
