<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				...
			</button>
			{{#link-to "index" class="navbar-brand"}}Athena{{/link-to}}
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				{{#link-to "forecastPeriods" tagName="li" href=false}}
					{{#link-to "forecastPeriods"}}Forecasts{{/link-to}}
				{{/link-to}}
				{{#link-to "soundings" tagName="li" href=false}}
					{{#link-to "soundings"}}Soundings{{/link-to}}
				{{/link-to}}
				{{#link-to "about" tagName="li" href=false}}
					{{#link-to "about"}}About{{/link-to}}
				{{/link-to}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Settings <span class="caret"></span>
					</a>
					<div class="dropdown-menu" role="menu">
						{{#em-form submit_button=false model=controller}}
							{{em-select property="units" label="Unit System" contentBinding="unitsOptions" optionValuePath="content.id" optionLabelPath="content.name"}}
						{{/em-form}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	{{outlet}}
</div>
