<div class="page-header">
  <h1>Air Route Traffic Control Centers</h1>
</div>
<ul>
  {{#each center in model}}
    <li>
      {{#link-to 'center' center.id}}
        {{center.id}} - {{center.properties.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
