<div class="page-header">
  <h1>Flights</h1>
</div>
<ul>
{{#each flight in model}}
  <li>
    <h3>{{#link-to 'flight' flight.id}}{{flight.name}}{{/link-to}}</h3>
    {{flight.launchTime}}
    {{flight.launchLocation.latitude}}, {{flight.launchLocation.longitude}}
  </li>
{{/each}}
</ul>
