<div class="page-header">
	<h1>Forecast Periods</h1>
</div>
<ul>
	{{#each period in model}}
		<li>
			{{#link-to 'forecastPeriod' period.id}}
				{{period.forecast}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>
