<div class="row">
  <div class="col-md-5">
    <h3>News</h3>
    <p>Recent news articles will be displayed here, probably with an orbit or something like that</p>
  </div>
  <div class="col-md-4">
    <h3>Active Flights</h3>
    {{flight-list flights=model.currentFlights}}
  </div>
  <div class="col-md-3">
    <h3>Upcoming Flights</h3>
    {{flight-list flights=model.upcomingFlights}}
  </div>
</div>
