<div class="page-header">
  <h1>Navigation Aids</h1>
</div>
<ul>
  {{#each navaid in model}}
    <li>
      {{#link-to 'navaid' navaid.id}}
        {{navaid.id}} - {{navaid.properties.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{pager-component pageCount=pageCount currentPage=page action="changePage"}}
