<h2>Soundings</h2>
<ul>
	{{#each sounding in model}}
		<li>
			{{#link-to 'sounding' sounding.id}}
				{{sounding.forecast}} - ({{sounding.loc.latitude}},{{sounding.loc.longitude}})
			{{/link-to}}
		</li>
	{{/each}}
</ul>
